In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from tqdm import tqdm
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv("weatherHistory.csv")
df = data[['Formatted Date', 'Temperature (C)']]
df.head()

                  Formatted Date  Temperature (C)
0  2006-04-01 00:00:00.000 +0200         9.472222
1  2006-04-01 01:00:00.000 +0200         9.355556
2  2006-04-01 02:00:00.000 +0200         9.377778
3  2006-04-01 03:00:00.000 +0200         8.288889
4  2006-04-01 04:00:00.000 +0200         8.755556