# Boston house prices

<img src="image_boston.png" alt="image" width="500"/>

In [1]:
%matplotlib qt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from scipy import stats
from sklearn.datasets import load_boston
from lls import LLS

In [2]:
breast_cancer = load_boston()
X = breast_cancer.data
Y = breast_cancer.target

C:\Users\moham\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [3]:
Y = Y.reshape(-1, 1)
Y.shape

(506, 1)

In [5]:
data_np = np.concatenate((Y, X), axis=1)
data = pd.DataFrame(data_np)
cor = data.corr()
cor.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,-0.388305,0.360445,-0.483725,0.17526,-0.427321,0.69536,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663

In [6]:
data_selected = data[[0, 2, 6]]
data_selected.rename(columns={0: 'PRICE', 2: 'ZN', 6: 'RM'}, inplace=True)
data_selected.head(5)

C:\Users\moham\AppData\Local\Temp\ipykernel_21588\3963391592.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_selected.rename(columns={0: 'PRICE', 2: 'ZN', 6: 'RM'}, inplace=True)

   PRICE    ZN     RM
0   24.0  18.0  6.575
1   21.6   0.0  6.421
2   34.7   0.0  7.185
3   33.4   0.0  6.998
4   36.2   0.0  7.147

In [24]:
Y = data_selected['PRICE'].to_numpy()
# Y = Y.reshape(-1, 1)
X_train, X_test, Y_train, Y_test = train_test_split(data_selected[['ZN', 'RM']].to_numpy(), Y, test_size=0.2)
lls = LLS()
w_LLS = lls.fit(X_train, Y_train)

In [58]:
res = stats.linregress(X_train[:,0].T, Y_train)

In [63]:
w_LLS

array([0.085622 , 3.4929294])

In [68]:
w_LLS = w_LLS[::-1]

In [69]:
xy = np.zeros((7, 101,2))
for i in range(7):
    for j in range(101):
        xy[i, j, :] = [i + 3, j]

xx, yy = np.meshgrid(range(3,10), range(0,101))
zxy = w_LLS * xy
z = np.matmul(xy, w_LLS)
z.shape

(7, 101)

In [74]:
fig = plt.figure(figsize=(8, 8))
ax = fig.add_subplot(projection='3d')
plt.title('Boston house prices')
ax.set_xlabel('RM')
ax.set_ylabel('ZN')
ax.set_zlabel('PRICE')
plt.legend(['data','LLS'])
ax.scatter(data_selected['RM'], data_selected['ZN'], data_selected['PRICE'], c='blue')
ax.plot_surface(xx, yy, z.T, alpha=0.4, color='g')
plt.show()